.navbar {
  background: linear-gradient(to right, #003f7f, #0066cc);
  padding: 20px;
  height: 90px;
}


.navbar-padding {
  padding-left: 1rem;
  padding-right: 1rem;
}

.nav-icon {
  margin: 1rem;
}

.title {
  padding-left: 90px;
}

.navbar-brand {
  font-size: 40px;
  font-weight: bolder;
}

.right-btn {
  border-width: 2px;
  font-size: 13px;
  font-weight: bold;
  align-self: center;
}
